/*筛选tab*/
#nav{
	background-color: #fff;
	font-size: 1.5rem;
}

#nav ul li{
	line-height: 3.3rem;
	float: left;
	width: 25%;
	text-align: center;
	color: #999;
	border-bottom: 0.2rem solid #FFFFFF;
}
#nav ul li:active{
	background-color: rgba(247,247,247,1);	
	border-bottom: 0.2rem solid rgba(247,247,247,1);
}
#nav ul li.active-nav{
	color: #E51600;
	border-bottom: 0.2rem solid #E51600;
}
/*滑动层*/
.box{
	width:100%;
	height: 100%;
	float: left;
	overflow-x: hidden;
}
