html,body{
	height: inherit;
}
.body{
	padding-top: 4rem;
	height: auto;
}
.body .question-box:first-child{
	border: 0;
}
.question-box:last-child{
	border-bottom: 0.1rem solid #ECECED;
}
.question-brief{
	font-size: 1.4rem;
    margin: 1rem 0 2rem 0;
}
.answer-brief{
	font-size: 1.4rem;
    margin: 0.5rem 0 2rem 0;
}
.answer-brief p{
	font-size: 1.4rem;
}
.answer-in{
	background-color: #f7f7f7;
	padding: 1rem 1.1rem 1.5rem;
	position: relative;
	display:none;
}

.answer-in textarea{
	height: 8rem;
	padding: 0.7rem;
	color: #7f7f7f;
	font-size: 1.2rem;
	font-family: "微软雅黑";
	resize: none;
	border: 0.1rem solid #ECECED;
    border-radius: 0.3rem;
    width: 100%;
    -webkit-box-sizing: border-box; 
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
    margin-bottom: 1rem;
}
.answer-in textarea::-ms-input-placeholder{color: #AAAAAA;font-family: "微软雅黑";}
.answer-in textarea::-webkit-input-placeholder{color: #AAAAAA;font-family: "微软雅黑";}
.submit{
	padding: 0rem 2.5rem;
    background-color: #5cca6c;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    float: right;
    line-height: 3rem;
}
.answer-arrow{
	position: absolute;
    border-color: transparent;
    border-bottom-color: rgb(247,247,247);
    border-width: 1rem 1rem;
    border-style: solid;
    top: 0.5rem;
    right: 50%;
    transform: translateX(50%);
    display: none;
}
.asked,.reply,.bottom-box .report{
	position: relative;
}
.head-text{
	margin: 0;
}
.suspend a{
	display: none;
}
.suspend .gotop{
	display: none;
}
