.body{
	padding-top: 4rem;
}
.qa-headaer{
	background-color: #fff;
	border-bottom: 0.1rem solid #ECECED;
	box-sizing: border-box;
}
.back i{
	background-position: -14.9rem -6.1rem;	
	width: 0.9rem;
	height: 1.7rem;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.person-bg{
	background: url(../img/qa-center.png) no-repeat;
	height: 18rem;
	background-size: 100% 100%;
	position: relative;
}
.person-bg .headpic{
	width: 6.8rem;
	height: 6.8rem;
	border: 0.25rem solid #fff;
	background-color: #fff;
	display: block;
	margin: 0 auto;
}
.person-info .nickname{
	color: #fff;
	font-size: 1.4rem;
	text-align: center;
	line-height: 5rem;
}
.count-div{
	border-top: 0.4rem solid #ECECED;
	padding: 1.5rem 0;
}
.count-div>div{
	display: inline-block;
	width: 33.33%;
	float: left;
}
.count-div div{
	box-sizing: border-box;
	text-align: center;
}
.count{
	color: #a9a9a9;
	font-size: 1.2rem;
}
.des{
	color: #666666;
	font-size: 1.4rem;
	margin-top: 1.5rem;
	border-right: 0.2rem solid #d1d1d1;
	line-height: 1.4rem;
}
.count-div>div:last-child .des{
	border-right:none;
}
.change-div{
	border-top:0.4rem solid #ECECED;
	background-color: #fff;
	width: 100%;
}
.my-question,.my-qa{
	padding: 1.2rem 1rem;
	font-size: 1.4rem;
	color: #666666;
	position: relative;
	border-bottom: 0.1rem solid #ECECED;
}
.my-question i,.my-qa i{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.my-question .arrow-right,.my-qa .arrow-right{
	right: 1rem;
}
.my-question span,.my-qa span{
	margin-left: 3rem;
}
.my-ask{
	background-position: -14.5rem 0;
	width: 1.7rem;
	height: 1.6rem;
}
.my-answer{
	background-position: -14.5rem -4rem;
	width: 1.7rem;
	height: 1.7rem;
}
.question-box:last-child{
	border-bottom: 0.1rem solid #ECECED;
}
.suspend a{
	display: none;
}
.headpic{
	position: relative;
}
.headpic .red-dot{
	position: absolute;
	right: 0;
	top:0;
	margin: 0;
	transform: inherit;
}
.change-div .red-dot{
	position: absolute;
	width: 0.6rem;
    height: 0.6rem;
    left: 10rem;
    top: 35%;
}
.question-brief{
	font-size: 1.4rem;
    margin: 1rem 0 2rem 0;
}
.question-brief span{
	color: #aaa;
    margin-top: 1rem;
    display: block;
}
.suspend .gotop{
	display: none;
}
