html,body{font-size: 1.5rem;overflow: hidden;color: #7f7f7f;}
.qa-report{height: 100%;width: 100%;}
.bge{background-color: #eee;}
.qacolor-a{color: #aaa;}
.qacolor-f7{color: #7f7f7f;}
.qabd-ec{border-bottom: 1px solid #ECECED;}
.qa-report-list,.qa-report-title{padding: 1rem 1.2rem;}
.qa-report-list.active{color: #E51600;}
.qa-fix-bottombox{margin-top: 4rem;}
.qa-report-text{padding: 1rem 1rem;background-color: #f7f7f7;padding-bottom: 0.5rem;}
textarea,.qa-report-btn{box-sizing: border-box;}
textarea{resize: none;margin-bottom:0;font-size:1.2rem;font-family: "微软雅黑";color: #7f7f7f; width: 100%;outline: none;height: 8rem;border: 1px solid #ececed;padding: 1rem;}
textarea::-ms-input-placeholder{color:#aaa !important; }
textarea::-webkit-input-placeholder{color:#aaa !important; }
.qa-report-btn{display:inline-block;margin:1rem 0; outline: none;border: 0; background-color: #ff6700;color: #fff;border-radius: 3px;padding: 0.5rem 2rem;}
.qa-askques-page{ width: 100%;height: 100%; background: #fff;transform: translate(0%,0);-webkit-transform: translate("0",'0');transition: transform 1s;}
.qa-report-page{transform: translate(0%,0);-webkit-transform: translate("0",'0');transition: transform 1s;}
.quesspecies-ico{float: right;}
.qa-queclassifica-page{ position: fixed;left: 0;top: 0;z-index: 100;width: 100%;height: 100%; background: #fff;transform: translate(100%,0);-webkit-transform: translate("0",'0');transition: transform 1s;}
.qa-reword-page{position: fixed;left: 0;top: 0;z-index: 100;width: 100%;height: 100%; background: #fff;transform: translate(100%,0);-webkit-transform: translate("100%",'0');transition: transform 1s;}
.quesspecies-ico{background: url('imgs/bg-icon.png') no-repeat 18rem 10.9rem;background-size:;width: 16px;height: 30px;}
.body {padding-top: 4rem;}
			
			